*~
.DS_Store
*.xcuserdatad
*.iml
*/*.iml
.settings
*/.settings
.project
*/.project
.classpath
*/.classpath
*.log
.log.log.swp
.factorypath
*/target
*.jar
*.rar
*/*/target
.class
*.class
*.zip
*.gz
*.classpath
*.project

/.idea
/doc
/it-common/src/main/resources/dubbo.properties
